Flask
flask_wtf
wtforms
email_validator
SQLAlchemy
flask_sqlalchemy
flask_login
python-dotenv
bcrypt
Flask-Limiter
Flask-Talisman
web3
joblib
fontTools
ipfshttpclient
sktime
matplotlib
scikit-learn
pandas
numpy
tbats
seaborn
tensorflow
neuralforecast>=1.6.4